*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgb(5, 1, 81) 0%, rgba(17,186,210,0.8408613445378151) 35%, rgba(175,0,255,1) 100%);
}

.container{
    font-family: sans-serif;
    background-color: #ffffff41;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    min-width: 20vw;
    backdrop-filter: blur(100px);
    
}

form{
    margin: 2rem 0 1rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid gray;
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    background-color: #ffffff41;
    backdrop-filter: blur(10px);
    border: none;
    
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select_container img{
    max-width: 2rem;
}
.select_container{
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(211, 211, 211, 0.178);
}

.select_container select{
    font-size: 1rem;
    width: auto;
    background: none;
}

.msg{
    margin: 2rem 0 2rem 0;
    align-items: center;
    font-weight: 700;
    font-family: sans-serif;
    color: #fff;
}

form button{
    height: 3rem;
    background-color: #ffffff41;
    backdrop-filter: blur(10px);
    color: rgba(17, 101, 113, 0.803);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

.amount{
    text-align: center;
    color: #fff;
}

.from p,.to p{
    text-align: center;
    color: #fff;
}

.container h1{
    border: 1px solid rgba(128, 128, 128, 0.362);
    border-radius: 1rem;
    padding-left: 4px;
    padding-right: 1px;
    color:#fff;
}